<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<div class="container">
    <div class="row py-4 text-left justify-content-center bg-light">
        <div class="col-6">
            <span class="h2" th:text="${testPaper.getTitle()}"></span>
        </div>
        <div class="col-4 text-right justify-content-end">
                <span>
                    <button class="btn btn-outline-primary" data-toggle="modal" data-target="#blah">
                        <i class="fa fa-edit"></i> 문제지 수정
                    </button>
                    <button class="btn btn-outline-primary" data-toggle="modal" data-target="#blah">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                         Save PDF
                    </button>
                </span>
        </div>

    </div>

    <div class="row px-3 justify-content-center">
        <div class="col-7 pt-3">
            blah
        </div>
    </div>
    <div th:replace="fragments.html :: footer"></div>
</div>
<script th:replace="fragments.html :: tooltip"></script>
<script th:replace="fragments.html :: date-time"></script>
</body>
</html>