<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<div class="container">
    <div th:replace="fragments.html :: testPaper-info"></div>
    <div th:replace="fragments.html :: testPaper-menu ('info')"></div>

    <div class="row mt-3 justify-content-center">
        <table class="table col-sm-10">
            <thead class="thead-light">
            <th scope="col">#</th>
            <th scope="col">year</th>
            <th scope="col">month</th>
            <th scope="col">timeZone</th>
            <th scope="col">paper</th>
            <th scope="col">question count</th>
            <th scope="col">action</th>
            </thead>
            <tbody>
            <tr th:each="questionBundle: ${testPaper.questionBundles}">
                <td th:text="${questionBundle.id}"></td>
                <td th:text="${questionBundle.year}"></td>
                <td th:text="${questionBundle.month}"></td>
                <td th:text="${questionBundle.timeZone.getDisplayValue()}"></td>
                <td th:text="${questionBundle.paper.getDisplayValue()}"></td>
                <td th:text="${testPaper.questionCount}"></td>
                <td><a href="#" th:href="@{'/question_bundle/' + ${questionBundle.id}}"
                       class="card-link">Detail</a></td>
            </tr>
            </tbody>

        </table>
    </div>

    <div th:replace="fragments.html :: footer"></div>
</div>
<script th:replace="fragments.html :: tooltip"></script>
<script th:replace="fragments.html :: date-time"></script>
</body>
</html>