<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>

<div class="container">
    <div class="py-5 text-center">
        <h2><a th:href="@{'/question_bundle/' + ${questionBundle.getId()}}"><span th:text="${questionBundle.getTitle()}">문제 묶음</span></a>
            / 새 문제 만들기</h2>
    </div>
    <div class="row justify-content-center">
        <form class="needs-validation col-sm-10" th:action="@{/new-question}" th:object="${questionForm}"
              method="post"
              novalidate>
            <div class="form-group">
                <label for="type">문제 타입</label>
                <select th:field="*{type}" class="custom-select mr-sm-2" id="type"
                        aria-describedby="typeHelp" name="type">
                    <option th:each="type : ${T(com.example.que_bang.modules.question.QuestionType).values()}"
                            th:value="${type}" th:text="${type.getDisplayValue()}"></option>
                </select>
                <small id="typeHelp" class="form-text text-muted">
                    문제 타입을 선택해주세요
                </small>
            </div>
            <div class="form-group">
                <label for="score">배점</label>
                <input id="score" type="text" th:field="*{score}" class="form-control"
                       placeholder="5" aria-describedby="scoreHelp">
                <small id="scoreHelp" class="form-text text-muted">
                    배점을 입력하세요.(예시: 5)
                </small>
                <small class="invalid-feedback">배점을 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('score')}" th:errors="*{score}">Score
                    Error</small>
            </div>
            <div class="form-group">
                <label for="mainTopic">메인 토픽</label>
                <select th:field="*{mainTopic}" class="custom-select mr-sm-2" id="mainTopic"
                        aria-describedby="mainTopicHelp" name="MainTopic">
                    <option th:each="mainTopic : ${T(com.example.que_bang.modules.question.QuestionMainTopic).values()}"
                            th:value="${mainTopic}" th:text="${mainTopic.getDisplayValue()}"></option>
                </select>
                <small id="mainTopicHelp" class="form-text text-muted">
                    메인 토픽을 선택해주세요
                </small>
                <small class="invalid-feedback">메인 토픽을 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('mainTopic')}" th:errors="*{mainTopic}">Paper
                    Error</small>
            </div>
            <div class="form-group">
                <label for="subTopic">서브 토픽</label>
                <select th:field="*{subTopic}" class="custom-select mr-sm-2" id="subTopic"
                        aria-describedby="subTopicHelp" name="SubTopic">
                    <option th:each="subTopic : ${T(com.example.que_bang.modules.question.QuestionSubTopic).values()}"
                            th:value="${subTopic}" th:text="${subTopic.getDisplayValue()}"></option>
                </select>
                <small id="subTopicHelp" class="form-text text-muted">
                    서브 토픽 선택해주세요
                </small>
                <small class="invalid-feedback">서브 토픽를 입력하을세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('subTopic')}" th:errors="*{subTopic}">Paper
                    Error</small>
            </div>
            <div class="form-group">
                <label for="content">문제 내용</label>
                <textarea id="content" type="textarea" th:field="*{content}" class="editor form-control"
                          placeholder="문제 내용을 입력하세요" aria-describedby="contentHelp" required></textarea>
                <small id="contentHelp" class="form-text text-muted">
                    문제 내용을 입력하세요
                </small>
                <small class="invalid-feedback">문제 내용을 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('content')}"
                       th:errors="*{content}">Content Error</small>
            </div>
            <div class="form-group">
                <label for="answerContent">정답 내용</label>
                <textarea id="answerContent" type="textarea" th:field="*{answerContent}" class="editor form-control"
                          placeholder="문제 내용을 입력하세요" aria-describedby="answerContentHelp" required></textarea>
                <small id="answerContentHelp" class="form-text text-muted">
                    정답 내용을 입력하세요
                </small>
                <small class="invalid-feedback">정답 내용을 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('answerContent')}"
                       th:errors="*{answerContent}">AnswerContent Error</small>
            </div>
            <input type="hidden" th:value="${questionBundle.getId()}" th:attr="name='questionBundleId'"/>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit"
                        aria-describedby="submitHelp">문제 만들기
                </button>
            </div>
        </form>
    </div>

    <div class="fragments.html :: footer"></div>
</div>
<script th:replace="fragments.html :: tooltip"></script>
<script th:replace="fragments.html :: form-validation"></script>
<script th:replace="fragments.html :: editor-script"></script>
</body>
</html>