<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<div class="container">
    <div class="row py-4 text-left justify-content-center bg-light">
        <div class="col-6">
                <span class="h2">
                <a href="#" class="text-decoration-none" th:href="@{'/question_bundle/' + ${questionBundle.getId()}}">
                    <span th:text="${questionBundle.getTitle()}">스터디 이름</span>
                </a> / </span>
            <span class="h2" th:text="${question.getTitle()}"></span>
        </div>
        <div class="col-4 text-right justify-content-end">
            <span class="btn-group" role="group">
                    <a class="btn btn-primary"
                       th:href="@{'/question/' + ${question.id} + '/edit'}">
                                                <i class="fa fa-edit"></i> 문제 수정
                    </a>
                </span>
        </div>

    </div>

    <div class="row px-3 justify-content-center">
        <div class="col-7 pt-3">
            <dt class="font-weight-light">문제 내용</dt>
            <dd th:utext="${question.getContent()}"></dd>
            <dt class="font-weight-light">정답 내용</dt>
            <dd th:utext="${question.getAnswer().getContent()}"></dd>
            <dt class="font-weight-light">메인 토픽</dt>
            <dd th:text="${question.getMainTopic().name()}"></dd>
            <dt class="font-weight-light">서브 토픽</dt>
            <dd th:text="${question.getSubTopic().name()}"></dd>
            <dt class="font-weight-light">배점</dt>
            <dd th:text="${question.getScore()}"></dd>
            <dt class="font-weight-light">생성 시간</dt>
            <dd class="date-time" th:text="${question.getCreatedDate()}"></dd>
            <dt class="font-weight-light">최종 수정 시간</dt>
            <dd class="date-time" th:text="${question.getLastModifiedDate()}"></dd>
        </div>
    </div>
    <div th:replace="fragments.html :: footer"></div>
</div>
<script th:replace="fragments.html :: tooltip"></script>
<script th:replace="fragments.html :: date-time"></script>
</body>
</html>