<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>

<div class="container">
    <div class="row py-4 text-left justify-content-center bg-light">
        <div class="col-6">

            <h2>문제 묶음</h2>
        </div>
        <div class="col-4 text-right justify-content-end">
            <a class="btn btn-primary"
               th:href="@{/new-question_bundle}">
                <i class="fa fa-plus"></i> 문제 묶음 추가
            </a>
        </div>
    </div>

    <div class="row justify-content-center">
        <ul class="list-unstyled col-10">
            <li class="media mt-3" th:each="questionBundle: ${questionBundles}">
                <div class="media-body">
                    <span th:text="${questionBundle.title}">title</span>
                    <span th:text="${questionBundle.questionCount}">count</span>
                    <a href="#" th:href="@{'/question_bundle/' + ${questionBundle.id}}"
                       class="card-link">자세히 보기</a>
                </div>
            </li>
        </ul>
    </div>
    <div th:replace="fragments.html :: footer"></div>
</div>
</body>
</html>