<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>

<div class="container">
    <div class="row py-4 text-left justify-content-center bg-light">
        <div class="col-6">

            <h2>문제 묶음</h2>
        </div>
        <div class="col-4 text-right justify-content-end">
            <a class="btn btn-primary"
               th:href="@{/new-question_bundle}">
                <i class="fa fa-plus"></i> 문제 묶음 추가
            </a>
        </div>
    </div>

    <div class="row mt-3 justify-content-center">
        <table class="table col-sm-10">
            <thead class="thead-light">
            <th scope="col">#</th>
            <th scope="col">year</th>
            <th scope="col">month</th>
            <th scope="col">timeZone</th>
            <th scope="col">paper</th>
            <th scope="col">question count</th>
            <th scope="col">action</th>
            </thead>
            <tbody>
            <tr th:each="questionBundle: ${questionBundles}">
                <td th:text="${questionBundle.id}"></td>
                <td th:text="${questionBundle.year}"></td>
                <td th:text="${questionBundle.month}"></td>
                <td th:text="${questionBundle.timeZone.getDisplayValue()}"></td>
                <td th:text="${questionBundle.paper.getDisplayValue()}"></td>
                <td th:text="${questionBundle.questionCount}"></td>
                <td><a href="#" th:href="@{'/question_bundle/' + ${questionBundle.id}}"
                       class="card-link">Detail</a>
                    <a href="#" th:href="@{'/question_bundle/' + ${questionBundle.id} +'/edit'}"
                       class="card-link">Edit</a>
                    <a href="#" th:href="@{'/question_bundle/' + ${questionBundle.id} +'/delete'}"
                       class="card-link">Delete</a>
                </td>
            </tr>
            </tbody>

        </table>
    </div>
    <div th:replace="fragments.html :: footer"></div>
</div>
</body>
</html>