<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>QueBang</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/node_modules/@yaireo/tagify/dist/tagify.css">
    <link rel="stylesheet" href="/node_modules/summernote/dist/summernote-bs4.min.css">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>
    <style>
        .container {
            max-width: 100%;
        }

        .tagify-outside {
            border: 0;
            padding: 0;
            margin: 0;
        }

        #study-logo {
            height: 200px;
            width: 100%;
            overflow: hidden;
            padding: 0;
            margin: 0;
        }

        #study-logo img {
            height: auto;
            width: 100%;
            overflow: hidden;
        }

        body {
            font-family: -apple-system, BlinkMacSystemFont, "Noto Sans KR", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }

        body,
        input,
        button,
        select,
        optgroup,
        textarea,
        .tooltip,
        .popover {
            font-family: -apple-system, BlinkMacSystemFont, "Noto Sans KR", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }

        table th {
            font-weight: lighter;
        }
    </style>
</head>

<nav th:fragment="main-nav" class="navbar navbar-expand-sm navbar-dark" style="background-color: #D72A4C;">
    <a class="navbar-brand" href="/" th:href="@{/}">
        <img src="/images/logo_sm.png" width="30" height="30">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <form th:action="@{/search/study}" class="form-inline" method="get">
                    <input class="form-control mr-sm-2" name="keyword" type="search" placeholder="문제 찾기"
                           aria-label="Search"/>
                </form>
            </li>
        </ul>

        <ul class="navbar-nav justify-content-end">
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:href="@{/login}">로그인</a>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:href="@{/sign-up}">가입</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link btn btn-outline-primary" th:href="@{/question_bundles}">
                    <i class="fa fa-question" aria-hidden="true"></i> 문제 묶음
                </a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link btn btn-outline-primary" th:href="@{/test_papers}">
                    <i class="fa fa-list" aria-hidden="true"></i> 문제지
                </a>
            </li>

            <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <svg th:if="${#strings.isEmpty(account?.profileImage)}"
                         th:data-jdenticon-value="${#authentication.name}"
                         width="24" height="24" class="rounded border bg-light"></svg>
                    <img th:if="${!#strings.isEmpty(account?.profileImage)}" th:src="${account.profileImage}"
                         width="24" height="24" class="rounded border"/>
                </a>
                <div class="dropdown-menu dropdown-menu-sm-right" aria-labelledby="userDropdown">
                    <h6 class="dropdown-header">
                        <span sec:authentication="name">Username</span>
                    </h6>
                    <!--                    <a class="dropdown-item" th:href="@{'/profile/' + ${#authentication.name}}">프로필</a>-->
                    <!--                    <a class="dropdown-item">문제</a>-->
                    <!--                    <div class="dropdown-divider"></div>-->
                    <!--                    <a class="dropdown-item" href="#" th:href="@{'/settings/profile'}">설정</a>-->
                    <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/logout}" method="post">
                        <button class="dropdown-item" type="submit">로그아웃</button>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</nav>

<footer th:fragment="footer">
    <div class="row justify-content-center">
        <img class="mb-2" src="/images/logo_long_en.png" alt="" width="200">
    </div>
</footer>

<div th:fragment="settings-menu (currentMenu)" class="list-group">
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'profile'}? active" href="#"
       th:href="@{/settings/profile}">프로필</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'password'}? active" href="#"
       th:href="@{/settings/password}">패스워드</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'notifications'}? active"
       href="#" th:href="@{/settings/notifications}">알림</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'tags'}? active" href="#"
       th:href="@{/settings/tags}">관심 주제</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'zones'}? active" href="#"
       th:href="@{/settings/zones}">활동 지역</a>
    <a class="list-group-item list-group-item-action list-group-item-danger"
       th:classappend="${currentMenu == 'account'}? active" href="#" th:href="@{/settings/account}">계정</a>
</div>

<script type="application/javascript" th:fragment="form-validation">
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        }, false)
    }())
</script>

<script type="application/javascript" th:inline="javascript" th:fragment="ajax-csrf-header">
    $(function () {
        var csrfToken = /*[[${_csrf.token}]]*/ null;
        var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(csrfHeader, csrfToken);
        });
    });
</script>

<div th:fragment="questionBundle-info">
    <div class="row pt-4 text-left justify-content-center bg-light">
        <div class="col-6">
            <a href="#" class="text-decoration-none" th:href="@{'/question_bundle/' + ${questionBundle.id}}">
                <span class="h2" th:text="${questionBundle.toString()}">문제 묶음 이름</span>
            </a>
        </div>
        <div class="col-4 text-right justify-content-end">
            <span class="btn-group" role="group">
                    <a class="btn btn-primary"
                       th:href="@{'/question_bundle/' + ${questionBundle.id} + '/edit'}">
                                                <i class="fa fa-edit"></i> 문제 묶음 수정
                    </a>
                </span>
        </div>
    </div>
</div>
<div th:fragment="question_bundle-form (mode, action)">

    <div class="py-5 text-center">
        <h2>
            <span th:if="${mode == 'edit'}" th:text="${questionBundle.getTitle()}"></span>
            <span th:if="${mode == 'new'}">문제 묶음 만들기</span>
        </h2>
    </div>
    <div class="row justify-content-center">
        <form class="needs-validation col-sm-10" th:action="@{${action}}" th:object="${questionBundleForm}"
              method="post"
              novalidate>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="year">연도</label>
                    <select th:field="*{year}" class="custom-select mr-sm-2" id="year"
                            aria-describedby="yearHelp" name="Year">
                        <option th:each="year : ${yearList}"
                                th:value="${year}" th:text="${year}">
                        </option>
                    </select>
                    <small id="yearHelp" class="form-text text-muted">
                        연도를 선택하세요
                    </small>
                    <small class="invalid-feedback">연도를 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year
                        Error</small>
                </div>

                <div class="form-group col-md-3">
                    <label for="month">월</label>
                    <select th:field="*{month}" class="custom-select mr-sm-2" id="month"
                            aria-describedby="yearHelp" name="Month">
                        <option th:each="month : ${monthList}"
                                th:value="${month}" th:text="${month}">
                        </option>
                    </select>
                    <small id="monthHelp" class="form-text text-muted">
                        월을 입력하세요.
                    </small>
                    <small class="invalid-feedback">월을 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('month')}"
                           th:errors="*{month}">Month Error</small>
                </div>

                <div class="form-group col-md-3">
                    <label for="timeZone">타임존</label>
                    <select th:field="*{timeZone}" class="custom-select mr-sm-2" id="timeZone"
                            aria-describedby="timeZoneHelp" name="timeZone">
                        <option th:each="timeZone : ${T(com.example.que_bang.modules.question_bundle.QuestionBundleTimeZone).values()}"
                                th:value="${timeZone}" th:text="${timeZone.getDisplayValue()}"></option>
                    </select>
                    <small id="timeZoneHelp" class="form-text text-muted">
                        타임존을 선택해주세요
                    </small>
                    <small class="invalid-feedback">타임존을 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('timeZone')}"
                           th:errors="*{timeZone}">Paper
                        Error</small>
                </div>
                <div class="form-group col-md-3">
                    <label for="paper">페이퍼</label>
                    <select th:field="*{paper}" class="custom-select mr-sm-2" id="paper"
                            aria-describedby="paperHelp" name="Paper">
                        <option th:each="paper : ${T(com.example.que_bang.modules.question_bundle.QuestionBundlePaper).values()}"
                                th:value="${paper}" th:text="${paper.getDisplayValue()}"></option>
                    </select>
                    <small id="paperHelp" class="form-text text-muted">
                        페이퍼 선택해주세요
                    </small>
                    <small class="invalid-feedback">페이퍼를 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('paper')}" th:errors="*{paper}">Paper
                        Error</small>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit"
                        aia-describedby="submitHelp" th:text="${mode == 'edit' ? '문제 묶음 수정' : '문제 묶음 만들기'}">
                </button>

            </div>
        </form>
    </div>

</div>
<div th:fragment="question-form (mode, action)">
    <div class="py-5 text-center">
        <h2>
            <a th:href="@{'/question_bundle/' + ${questionBundle.getId()}}"><span
                    th:text="${questionBundle.getTitle()}">문제 묶음</span></a> /
            <span th:if="${mode == 'edit'}" th:text="${question.getTitle()}"></span>
            <span th:if="${mode == 'new'}">새 문제 만들기</span>
        </h2>
    </div>
    <div class="row justify-content-center">
        <form class="needs-validation col-sm-10" th:action="@{${action}}" th:object="${questionForm}"
              method="post"
              novalidate>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="type">문제 타입</label>
                    <select th:field="*{type}" class="custom-select mr-sm-2" id="type"
                            aria-describedby="typeHelp" name="type">
                        <option th:each="type : ${T(com.example.que_bang.modules.question.QuestionType).values()}"
                                th:value="${type}" th:text="${type.getDisplayValue()}"></option>
                    </select>
                    <small id="typeHelp" class="form-text text-muted">
                        문제 타입을 선택해주세요
                    </small>
                </div>
                <div class="form-group col-md-3">
                    <label for="score">배점</label>
                    <input id="score" type="text" th:field="*{score}" class="form-control"
                           placeholder="5" aria-describedby="scoreHelp">
                    <small id="scoreHelp" class="form-text text-muted">
                        배점을 입력하세요.(예시: 5)
                    </small>
                    <small class="invalid-feedback">배점을 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('score')}" th:errors="*{score}">Score
                        Error</small>
                </div>
                <div class="form-group col-md-3">
                    <label for="mainTopic">메인 토픽</label>
                    <select th:field="*{mainTopic}" class="custom-select mr-sm-2" id="mainTopic"
                            aria-describedby="mainTopicHelp" name="MainTopic">
                        <option th:each="mainTopic : ${T(com.example.que_bang.modules.question.QuestionMainTopic).values()}"
                                th:value="${mainTopic}" th:text="${mainTopic.getDisplayValue()}"></option>
                    </select>
                    <small id="mainTopicHelp" class="form-text text-muted">
                        메인 토픽을 선택해주세요
                    </small>
                    <small class="invalid-feedback">메인 토픽을 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('mainTopic')}"
                           th:errors="*{mainTopic}">Paper
                        Error</small>
                </div>
                <div class="form-group col-md-3">
                    <label for="subTopic">서브 토픽</label>
                    <select th:field="*{subTopic}" class="custom-select mr-sm-2" id="subTopic"
                            aria-describedby="subTopicHelp" name="SubTopic">
                        <option th:each="subTopic : ${T(com.example.que_bang.modules.question.QuestionSubTopic).values()}"
                                th:value="${subTopic}" th:text="${subTopic.getDisplayValue()}"></option>
                    </select>
                    <small id="subTopicHelp" class="form-text text-muted">
                        서브 토픽 선택해주세요
                    </small>
                    <small class="invalid-feedback">서브 토픽를 입력하을세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('subTopic')}"
                           th:errors="*{subTopic}">Paper
                        Error</small>
                </div>
            </div>
            <div class="form-group">
                <label for="content">문제 내용</label>
                <textarea id="content" type="textarea" th:field="*{content}" class="editor form-control"
                          placeholder="문제 내용을 입력하세요" aria-describedby="contentHelp" required></textarea>
                <small id="contentHelp" class="form-text text-muted">
                    문제 내용을 입력하세요
                </small>
                <small class="invalid-feedback">문제 내용을 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('content')}"
                       th:errors="*{content}">Content Error</small>
            </div>
            <div class="form-group">
                <label for="answerContent">정답 내용</label>
                <textarea id="answerContent" type="textarea" th:field="*{answerContent}" class="editor form-control"
                          placeholder="문제 내용을 입력하세요" aria-describedby="answerContentHelp" required></textarea>
                <small id="answerContentHelp" class="form-text text-muted">
                    정답 내용을 입력하세요
                </small>
                <small class="invalid-feedback">정답 내용을 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('answerContent')}"
                       th:errors="*{answerContent}">AnswerContent Error</small>
            </div>
            <input type="hidden" th:value="${questionBundle.getId()}" th:attr="name='questionBundleId'"/>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit"
                        aria-describedby="submitHelp" th:text="${mode == 'edit' ? '문제 수정' : '문제 만들기'}">
                </button>
            </div>
        </form>
    </div>
</div>
<div th:fragment="test_paper-form (mode, action)">
    <div class="py-5 text-center">
        <h2>
            <span th:if="${mode == 'edit'}" th:text="${testPaper.title}"></span>
            <span th:if="${mode == 'new'}">문제지 만들기</span>
        </h2>
    </div>
    <div class="row justify-content-center">
        <form class="needs-validation col-sm-10" th:action="@{${action}}" th:object="${testPaperForm}"
              method="post"
              novalidate>
            <div class="form-group">
                <label for="title">제목</label>
                <input id="title" type="text" th:field="*{title}" class="form-control"
                       placeholder="내용" aria-describedby="titleHelp" required max="4">
                <small id="titleHelp" class="form-text text-muted">
                    제목를 입력하세요.
                </small>
                <small class="invalid-feedback">제목을 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title
                    Error</small>
            </div>
            <input type="hidden" th:value="${testPaperForm.questionBundleId}" th:attr="name='questionBundleId'"/>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit"
                        aia-describedby="submitHelp" th:text="${mode == 'edit' ? '문제지 수정' : '문제지 만들기'}">
                </button>
            </div>
        </form>
    </div>
</div>
<div th:fragment="questionBundle-menu (questionBundleMenu)" class="row px-3 justify-content-center bg-light">
    <nav class="col-10 nav nav-tabs">
        <a class="nav-item nav-link" href="#" th:classappend="${questionBundleMenu == 'info'}? active"
           th:href="@{'/question_bundle/' + ${questionBundle.id}}">
            <i class="fa fa-info-circle"></i> 문제
        </a>
        <a class="nav-item nav-link" href="#" th:classappend="${questionBundleMenu == 'testPaper'}? active"
           th:href="@{'/question_bundle/' + ${questionBundle.id} + '/test_papers'}">
            <i class="fa fa-info-circle"></i> 현재 문제지
        </a>
        <a class="nav-item nav-link" href="#" th:classappend="${questionBundleMenu == 'add-testPaper'}? active"
           th:href="@{'/question_bundle/' + ${questionBundle.id} + '/add-test_papers'}">
            <i class="fa fa-info-circle"></i> 문제지 추가
        </a>
    </nav>
</div>

<div th:fragment="member-list (members, isManager)" class="row px-3 justify-content-center">
    <ul class="list-unstyled col-10">
        <li class="media mt-3" th:each="member: ${members}">
            <svg th:if="${#strings.isEmpty(member?.profileImage)}" th:data-jdenticon-value="${member.nickname}"
                 width="64" height="64" class="rounded border bg-light mr-3"></svg>
            <img th:if="${!#strings.isEmpty(member?.profileImage)}" th:src="${member?.profileImage}" width="64"
                 height="64" class="rounded border mr-3"/>
            <div class="media-body">
                <h5 class="mt-0 mb-1"><span th:text="${member.nickname}"></span> <span th:if="${isManager}"
                                                                                       class="badge badge-primary">관리자</span>
                </h5>
                <span th:text="${member.bio}"></span>
            </div>
        </li>
    </ul>
</div>

<div th:fragment="study-settings-menu (currentMenu)" class="list-group">
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'description'}? active"
       href="#" th:href="@{'/study/' + ${study.path} + '/settings/description'}">소개</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'image'}? active"
       href="#" th:href="@{'/study/' + ${study.path} + '/settings/banner'}">배너 이미지</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'tags'}? active"
       href="#" th:href="@{'/study/' + ${study.path} + '/settings/tags'}">문제 주제</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'zones'}? active"
       href="#" th:href="@{'/study/' + ${study.path} + '/settings/zones'}">활동 지역</a>
    <a class="list-group-item list-group-item-action list-group-item-danger"
       th:classappend="${currentMenu == 'study'}? active"
       href="#" th:href="@{'/study/' + ${study.path} + '/settings/study'}">문제</a>
</div>

<div th:fragment="editor-script">
    <script src="/node_modules/summernote/dist/summernote-bs4.js"></script>
    <script type="application/javascript">
        $(function () {
            $('#content').summernote({
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Noto Sans KR', 'Merriweather'],
                placeholder: '문제 내용을 입력하세요.',
                tabsize: 2,
                height: 300
            });
        });
        $(function () {
            $('#answerContent').summernote({
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Noto Sans KR', 'Merriweather'],
                placeholder: '정답 내용을 입력하세요.',
                tabsize: 2,
                height: 300
            });
        });

    </script>
</div>
<div th:fragment="date-time">
    <script src="/node_modules/moment/min/moment-with-locales.min.js"></script>
    <script type="application/javascript">
        $(function () {
            moment.locale('ko');
            $(".date-time").text(function (index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LLL');
            });
            $(".date").text(function (index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LL');
            });
            $(".weekday").text(function (index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('dddd');
            });
            $(".time").text(function (index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LT');
            });
            $(".calendar").text(function (index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").calendar();
            });
            $(".fromNow").text(function (index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").fromNow();
            });
            $(".date-weekday-time").text(function (index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LLLL');
            });
        })
    </script>
</div>

<div th:fragment="message" th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
    <span th:text="${message}">완료</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<script th:fragment="tooltip" type="application/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

</html>