<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<div class="container">
    <div>
        <div class="row justify-content-center" style="margin-top:50px; margin-bottom: 50px">
            <div class="col-md-6">
                <a th:href="@{/new-question_bundle}">
                    <img class="rounded mx-auto d-block" src="/images/bundle.png" style="max-height: 250px">
                </a>
            </div>
            <div class="col-md-6">
                <a th:href="@{/new-test_paper}">
                    <img class="rounded mx-auto d-block" src="/images/to_pdf.png" style="max-height: 250px">
                </a>
            </div>
        </div>
        <div class="row justify-content-center" style="margin-top:50px; margin-bottom: 50px">
            <div class="col-md-6">
                <a th:href="@{/question_bundles}">
                    <img class="rounded mx-auto d-block" src="/images/question_list.png" style="max-height: 250px">
                </a>
            </div>
            <div class="col-md-6">
                <a th:href="@{/}">
                    <img class="rounded mx-auto d-block" src="/images/quebang.png" style="max-height: 250px">
                </a>
            </div>
        </div>
    </div>
    <div th:replace="fragments.html :: footer"></div>
</div>
</body>
</html>
